pandas
numpy
scikit-learn
matplotlib
xgboost==2.1.2
flask
uvicorn
fastapi
langchain
langchain-community
pinecone-client
google-generativeai
huggingface_hub
imbalanced-learn   # for SMOTE
python-dotenv
flask-cors
langchain-pinecone
langchain-google-genai
sentence_transformers